<head>
    <script>
        function contar(val){
            location.href="/teste2/"+document.getElementById("idvalor").value;
        }
    </script>
</head>
<h1>Versão em Master</h1>
<form action="/produto/salvar" method="POST">
    <label>Codigo</label>
    <input type="text" name="codigo" value=""/>
    <label>Descrição</label>
    <input type="text" name="descricao" value=""/>
    <label>Unidade de medida</label>
    <input type="text" name="unidademedida" value=""/>
    <label>Preço unitário</label>
    <input type="text" name="precoun" value=""/>
    <label>Estoque</label>
    <input type="text" name="estoque" value=""/>

    <input type="submit" value="Salvar"/>
</form>

<form action="/produto/listar" method="GET">
    <label>Codigo</label>
    <input type="text" name="codigo" disabled value="{{codigo}}"/>
    <label>Descrição</label>
    <input type="text" name="descricao" disabled value="{{descricao}}"/>
    <label>Unidade de medida</label>
    <input type="text" name="unidademedida" disabled value="{{unidademedida}}"/>
    <label>Preço unitário</label>
    <input type="text" name="precoun" disabled value="{{precoun}}"/>
    <label>Estoque</label>
    <input type="text" name="estoque" disabled value="{{estoque}}"/>

    <input type="submit" value="Buscar"/>
</form>